body {
  margin: 0;
  padding: 0;
  background-image: url("medad.jpg");
}

header {
  margin-top: 4px;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.search-container {
  position: relative;

}

.search {
  padding: 0 0.625rem;
  border-radius: 0.5rem;
  border: solid 1px #D1D5DB;
  width: 210px;
  height: 41px;
  font-size: 0.875rem;
  background-color: #F9FAFB;
  text-align: end;
}

svg {
  left: 10px;
  top: 0.8rem;
  position: absolute;
  width: 19px;
  fill: #878a8e;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 18px;
}

header nav a {
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: hsl(0deg 0% 93.33%);
  font-weight: 700;
}

.header-img-search {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 8%;
}

header button {
  height: 40px;
  padding: 0 15px;
  font-family: "Cairo", sans-serif;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(52, 52, 240);
  color: white;
  font-weight: 700;
  cursor: pointer;
}

main {
  height: calc(100dvh - 114px);
  /*114 is the header height + margin*/
  display: flex;
  justify-content: center;
}

.hero-container {
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: center;
}

.hero-wrapper {
  width: 50%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
}

.imageContainer {
  background-color: lightpink;
  width: 50%;
}